[Unit]
 Description=Serving packages for everyone in the same network.
 After=network.target packets-udp.service
 Requires=packets-udp.service

[Service]
 Type=simple
 User=packets
 WorkingDirectory=/var/cache/packets
 ExecStart=/etc/packets/httpsocket
 Restart=always

[Install]
 WantedBy=multi-user.target